<div class="container">
  <div class="imgStyle">
    <img src="{{usuarioActual.URLImagenPortada}}" height="100%" width="100%"
    alt="avatar" *ngIf="!usuarioParam.idUsuario && usuarioActual.URLImagenPortada" >

    <img src="{{usuarioParam.URLImagenPortada}}" height="100%" width="100%"
    alt="avatar" *ngIf="usuarioParam.idUsuario && usuarioParam.URLImagenPortada" >

  </div>

<div class="form-row">
      <div class="left col-md-4">
        <div class="photo-left">
          <img class="photo" src="{{usuarioParam.URLImagen}}"
          alt="avatar" *ngIf="usuarioParam.idUsuario  && usuarioParam.URLImagen" />

          <img class="photo" src="{{usuarioActual.URLImagen}}"
          alt="avatar" *ngIf="!usuarioParam.idUsuario && usuarioActual.URLImagen" />

          <img class="photo" src="assets/images/user.png"
          alt="avatar" *ngIf="usuarioParam.idUsuario && !usuarioParam.URLImagen"/>

          <img class="photo" src="assets/images/user.png"
          alt="avatar" *ngIf="!usuarioParam.idUsuario && !usuarioActual.URLImagen"/>



          <div class="active" *ngIf="usuarioParam.idUsuario">
            <i class="fa fa-circle {{usuarioParam.status}}"></i>
          </div>

        </div>


        <h4 class="name" *ngIf="!usuarioParam.idUsuario">{{usuarioActual.displayName}}</h4>
        <h4 class="name" *ngIf="usuarioParam.idUsuario">{{usuarioParam.displayName}}</h4>
        <!--<p class="info">Vendedor</p>-->


        <div class="nav" *ngIf="usuarioParam.idUsuario && urlIconoMensaje">
            <img class="message" width="50" height="50" data-toggle="modal" data-target="#sendMessageModal"
            src="{{urlIconoMensaje}}">
        </div>

        <div class="modal fade" id="sendMessageModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Enviar Mensaje</h4>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Destinatario: {{usuarioParam.displayName}}</label>
                  <br>
                  <label for="message">Mensaje</label>
                  <textarea class="form-control" rows="5" id="message" name="message" required
                    placeholder="Digite su mensaje" title="" [(ngModel)]="message"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn user-profile-style-background" data-dismiss="modal"(click)="onSubmitSendMessageUser()">Enviar</button>
                <button class="btn user-profile-style-background" data-dismiss="modal">Cancelar</button>
              </div>
          </div>
        </div>
      </div>

        <div class="stats row">
          <div class="stat col-xs-6">
            <!--<p class="number-stat" >3,619</p>-->
            <p class="number-stat"(click)="serviciosContratadosTab()"
            *ngIf="!usuarioParam.idUsuario">{{listaServiciosContratadosActual.length}}</p>
            <p class="number-stat"(click)="serviciosContratadosTab()"
            *ngIf="usuarioParam.idUsuario">{{listaServiciosContratadosParam.length}}</p>

            <p class="desc-stat" (click)="serviciosContratadosTab()">Contratados</p>
          </div>
          <div class="stat col-xs-6" style="padding-left: 50px;">
            <p class="number-stat"(click)="serviciosPublicadosTab()"
            *ngIf="!usuarioParam.idUsuario">{{listaServiciosPublicadosActual.length}}</p>
            <p class="number-stat"(click)="serviciosPublicadosTab()"
            *ngIf="usuarioParam.idUsuario">{{listaServiciosPublicadosParam.length}}</p>
            <p class="desc-stat" (click)="serviciosPublicadosTab()">Publicados</p>
          </div>
        </div>
      </div>

    <div class="right col-md-8">
      <ul class="nav">
        <li class="col-lg-3" (click)="serviciosContratadosTab()">Servicios Contratados</li>
        <li class="col-lg-3"(click)="serviciosPublicadosTab()">Servicios Publicados</li>
        <li class="col-lg-2"(click)="acercaDeTab()">Acerca de</li>
      </ul>

      <div class="row gallery" *ngIf="serviciosContratados && usuarioParam.idUsuario && listaServiciosContratadosParam.length===0">
          <p>No Hay Servicios Disponibles</p>
      </div>
      <div class="row gallery" *ngIf="serviciosContratados && usuarioParam.idUsuario && listaServiciosContratadosParam.length>0">
        <p>Aquí van los servicios contratador por el param</p>

      </div>

      <div class="row gallery" *ngIf="serviciosContratados && !usuarioParam.idUsuario && listaServiciosContratadosActual.length===0">
          <p>No Hay Servicios Disponibles</p>
      </div>
      <div class="row gallery" *ngIf="serviciosContratados && !usuarioParam.idUsuario && listaServiciosContratadosActual.length>0">
        <p>Aquí van los servicios contratador por el actual</p>

      </div>

    <div class="row gallery" *ngIf="serviciosPublicados && !usuarioParam.idUsuario && listaServiciosPublicadosActual.length===0">
        <p>No Hay Servicios Disponibles</p>
    </div>

      <div class="form-row" *ngIf="serviciosPublicados && !usuarioParam.idUsuario && listaServiciosPublicadosActual.length>0">
        <div class="col-md-6" *ngFor="let servicio of listaServiciosPublicadosActual">

            <article class="card-wrapper">
              <div class="image-holder">
                <a (click)="onClickService(servicio.idServicio)" class="image-holder__link"></a>
                <div class="image-liquid image-holder--original" [style.background-image]="getBackground(servicio.pathImagen)">
                </div>
              </div>


              <div class="product-description">

                <h1 class="product-description__title">
                  <a href="">
                    {{servicio.nombre}}
                    </a>
                </h1>

                <div class="row">
                  <div class="col-xs-6 col-md-4 col-sm-4 product-description__category secondary-text">
                    {{servicio.categoria}}
                  </div>
                  <div class="col-xs-6 col-md-2 col-sm-2 product-description__price">
                    $ {{servicio.precio}}
                  </div>
                </div>


                <div class="sizes-wrapper">
                  <b>Zona de cobertura</b>
                  <br />
                  <span class="secondary-text text-uppercase">
                      {{servicio.zona_cobertura.toString()}}
                  </span>
                </div>
                <div class="sizes-wrapper">
                  <b>Tipo de pago</b>
                  <br />
                  <span class="secondary-text text-uppercase">
                      {{servicio.tipo_pago.toString()}}
                  </span>
                </div>

              </div>

            </article>
          </div>
      </div>

      <div class="row gallery" *ngIf="serviciosPublicados && usuarioParam.idUsuario && listaServiciosPublicadosParam.length===0">
          <p>No Hay Servicios Disponibles</p>
      </div>

      <div class="form-row" *ngIf="serviciosPublicados && usuarioParam.idUsuario && listaServiciosPublicadosParam.length>0">
          <div class="col-md-6" *ngFor="let servicio of listaServiciosPublicadosParam">
            <article class="card-wrapper">
              <div class="image-holder">
                <a (click)="onClickService(servicio.idServicio)" class="image-holder__link"></a>
                <div class="image-liquid image-holder--original" [style.background-image]="getBackground(servicio.pathImagen)">
                </div>
              </div>


              <div class="product-description">

                <h1 class="product-description__title">
                  <a href="">
                    {{servicio.nombre}}
                    </a>
                </h1>


                <div class="row">
                  <div class="col-xs-6 col-sm-4 product-description__category secondary-text">
                    {{servicio.categoria}}
                  </div>
                  <div class="col-xs-6 col-sm-2 product-description__price">
                    $ {{servicio.precio}}
                  </div>
                </div>


                <hr />



                    <div class="sizes-wrapper">
                      <b>Zona de cobertura</b>
                      <br />
                      <span class="secondary-text text-uppercase">
                          {{servicio.zona_cobertura}}
                      </span>
                    </div>

                <div class="sizes-wrapper">
                  <b>Tipo de pago</b>
                  <br />
                  <span class="secondary-text text-uppercase">
                      {{servicio.tipo_pago}}
                  </span>
                </div>

              </div>

            </article>
          </div>

      </div>




    <div class="row gallery" *ngIf="acercaDe">

      <div class="col-md-8">
        <p class="name2">Acerca de mi</p>
        <p class="desc2" *ngIf="usuarioParam.idUsuario">{{usuarioParam.descripcion}}.</p>
        <p class="desc2" *ngIf="!usuarioParam.idUsuario">{{usuarioActual.descripcion}}.</p>

      </div>

      <div class="col-md-8">
        <p class="name2">Contacto</p>
        <p class="desc2" *ngIf="!usuarioParam.idUsuario">{{usuarioActual.email}}</p>
        <p class="desc2" *ngIf="usuarioParam.idUsuario">{{usuarioParam.email}}</p>

        <p class="desc2" *ngIf="!usuarioParam.idUsuario">{{usuarioActual.telefono}}</p>
        <p class="desc2" *ngIf="usuarioParam.idUsuario">{{usuarioParam.telefono}}</p>
      </div>

    </div>



</div>
