img.rounded-circle{
  width: 45px;
  height: 45px;
  overflow: hidden;
}
input.rounded-circle{
  width: 45px;
  height: 45px;
  overflow: hidden;
}

input.form-control{
  width: 300px;
  height: 35px;
  overflow: hidden;
}
