<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Engánchate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#" *ngIf="isLogin" routerLink="/">Mis Servicios<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" *ngIf="isLogin" routerLink="/publishService">Publicar Servicio<span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item dropdown" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/home" role="button" aria-haspopup="true" aria-expanded="false">Mis Servicios</a>
        <div class="dropdown-menu">
          <a class="dropdown-item dropdown-style" routerLink="/publishedServices">Publicados</a>
          <a class="dropdown-item dropdown-style" routerLink="/publishedServices">Solicitados</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" *ngIf="isLogin" routerLink="/publishService">Publicar Servicio<span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <input name="buscar" id="buscar" (change)="onClickSearch()" [(ngModel)]="buscar"
         type="search" placeholder="Buscar servicios">
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">

      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <input type="image" class="rounded-circle" src="assets/images/chat.png"
        routerLink="/chat">
      </li>



      <li class="nav-item dropdown" *ngIf="isLogin">
        <input type="image" *ngIf="tieneImagen || tieneFotoExterna" class="dropdown-toggle rounded-circle" src="{{fotoUsuario}}" data-toggle="dropdown" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
        <input type="image" *ngIf="!tieneImagen && !tieneFotoExterna" class="dropdown-toggle rounded-circle" src="assets/images/light-sky-blue-solid-color-background.jpg" data-toggle="dropdown" href="/home"  aria-haspopup="true" aria-expanded="false">
        <a *ngIf="!tieneImagen && !tieneFotoExterna" class="dropdown-toggle dropdown-style2 centered" data-toggle="dropdown" href="/home"  aria-haspopup="true" aria-expanded="false">{{iniciales}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item dropdown-style" routerLink="/editProfile">Editar Perfil</a>
          <a class="dropdown-item dropdown-style" routerLink="/editProfile">Ver Historial</a>
        </div>
      </li>

      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()" >Salir</a>
      </li>
    </ul>

  </div>
  <!--<div class="navbar-nav mx-auto nav-item" *ngIf="isLogin">
    <a class="nav-link" href="#" (click)="onClickLogout()" >Salir</a>
  </div>-->


</nav>
