<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Enganchate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Mis Servicios<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/publishService">Publicar Servicio<span class="sr-only">(current)</span></a>
      </li>
    </ul>



    <form class="form-inline my-2 my-lg-0" *ngIf="isLogin">
        <input class="form-control mr-sm-2" name="buscar" id="buscar" [(ngModel)]="buscar" type="text" placeholder="Buscar servicios">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/editProfile">{{username}}</a>
      </li>
      <li class="nav-item" *ngIf="tieneFotoExterna && isLogin">
        <input type="image" class="rounded-circle" src="{{fotoUsuario}}"
        routerLink="/editProfile" alt="Submit">
      </li>
      <li class="nav-item" *ngIf="!tieneFotoExterna && isLogin">
        <input type="image" class="rounded-circle" src="assets/images/enganchate.png"
        routerLink="/editProfile">
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()" >Salir</a>
      </li>
    </ul>

  </div>

</nav>
