<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">REGISTRO</h1>
        <form (submit)="onSubmitRegisterUser()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" name="nombres" id="nombres" [(ngModel)]="nombres" class="form-control">
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" [(ngModel)]="apellidos" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password"class="form-control">
          </div>
          <div class="form-group">
            <label for="password2">Confirmar contraseña</label>
            <input type="password" name="password2" id="password2" [(ngModel)]="password2"class="form-control">
          </div>

          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="date" max="1970-01-01" min="2000-01-01" name="edad" id="edad"
            [(ngModel)]="edad" class="form-control">
          </div>
          <input type="submit" value="ENVIAR" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
    </div>
  </div>
</div>
