<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">PUBLICAR SERVICIO</h1>
        <form (submit)="onSubmitPublicarServicio()">
          <div class="form-group">
              <div class="col-xs-5 selectContainer">
                <label for="categoria">Categoría</label>
                 <select class="form-control" name="categoria" [(ngModel)]="categoria">
                     <option value="">Seleccione una categoría</option>
                     <option value="hogar">Hogar</option>
                     <option value="educacion">Educación</option>
                     <option value="musica">Música</option>
                     <option value="legal">Legal</option>
                     <option value="tecnologia">Tecnología</option>
                     <option value="salud">Salud</option>
                     <option value="deportes">Deportes</option>
                     <option value="musica">Música</option>
                     <option value="financiero">Financiero</option>
                     <option value="veterinaria">Veterinaria</option>
                     <option value="transporte">Transporte</option>
                     <option value="turismo">Turismo</option>
                     <option value="gastronomia">Gastronomía</option>
                     <option value="eventos_sociales">Eventos Sociales</option>
                     <option value="cuidado_infantil">Cuidado Infantil</option>
                     <option value="diseno">Diseño</option>
                     <option value="arte_fotografia">Arte y Fotografía</option>
                     <option value="confeccion">Confección</option>
                     <option value="estetica">Estética</option>
                </select>
               </div>
          </div>

          <div class="form-group">
              <div class="col-xs-5 selectContainer">
                <label for="categoria">Ciudad de cobertura</label>
                 <select class="form-control" name="zona_cobertura" [(ngModel)]="zona_cobertura">
                     <option value="">Seleccione una ciudad</option>
                     <option value="bogota">Bogotá D.C.</option>
                     <option value="medellin">Medellín</option>
                     <option value="cali">Cali</option>
                     <option value="barranquilla">Barranquilla</option>
                     <option value="cartagena">Cartagena</option>
                     <option value="soledad">Soledad</option>
                     <option value="cucuta">Cúcuta</option>
                     <option value="soacha">Soacha</option>
                     <option value="ibague">Ibagué</option>
                     <option value="bucaramanga">Bucaramanga</option>
                     <option value="villavicencio">Villavicencio</option>
                     <option value="santa_marta">Santa Marta</option>
                     <option value="bello">Bello</option>
                     <option value="valledupar">Valledupar</option>
                     <option value="pereira">Pereira</option>
                     <option value="armenia">Armenia</option>
                     <option value="buenaventura">Buenaventura</option>
                     <option value="pasto">Pasto</option>
                     <option value="manizales">Manizales</option>
                     <option value="monteria">Montería</option>
                     <option value="neiva">Neiva</option>
                     <option value="popayan">Popayan</option>
                     <option value="quibdo">Quibdó</option>
                     <option value="riohacha">Riohacha</option>
                </select>
               </div>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"
            [(ngModel)]="nombre" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" id="descripcion"
            [(ngModel)]="descripcion" class="form-control" required>
          </div>



          <div class="form-inline">
              <div class="col-xs-5">
                <label for="tiempo_duracion">Tiempo de duración</label>
                <input type="number" name="tiempo_duracion" id="tiempo_duracion"
                [(ngModel)]="tiempo_duracion" min="1" class="form-control" min="1" required>
              </div>

              <div class="col-xs-5 selectContainer">
                <label for="categoria">Opción de duración</label>
                 <select class="form-control" name="opcion_duracion" [(ngModel)]="opcion_duracion">
                     <option value="">Seleccione una opción</option>
                     <option value="d">Días</option>
                     <option value="h">Horas</option>
                     <option value="m">Minutos</option>
                </select>
               </div>
          </div>



          <br>
          <div class="form-group">
            <label for="precio">Precio $</label>
            <input type="number" name="precio" id="precio"
            [(ngModel)]="precio" class="form-control" min="1" required>
          </div>


          <label for="modalidad">Modalidad</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
            id="presencial" value="presencial" [(ngModel)]="modalidad">
            <label class="form-check-label" for="presencial">Presencial</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
            id="virtual" value="virtual" [(ngModel)]="modalidad">
            <label class="form-check-label" for="virtual">Virtual</label>
          </div>

          <br>
          <label for="tipo_pago">Tipo de pago</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="inlineChekboxOptions"
             id="efectivo" value="efectivo" [(ngModel)]="efectivo">
            <label class="form-check-label" for="efectivo">Efectivo</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="inlineChekboxOptions"
            id="credito" value="credito" [(ngModel)]="credito">
            <label class="form-check-label" for="credito">Tarjeta de crédito</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="inlineChekboxOptions"
            id="debito" value="debito" [(ngModel)]="debito">
            <label class="form-check-label" for="debito">Tarjeta débito</label>
          </div>

          <br><br><br>
          <input type="submit" value="PUBLICAR" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
    </div>
  </div>
</div>
