
<span [ngSwitch]="status">


  <span *ngSwitchCase="'online'" >
    Online <i class="fa fa-circle is-success"></i>
  </span>


  <span *ngSwitchCase="'offline'" >
    Offline <i class="fa fa-circle is-danger"></i>
  </span>

  <span *ngSwitchCase="'away'">
    Away <i class="fa fa-circle is-warning"></i>
  </span>


  <span *ngSwitchDefault class="help">
    Unknown
  </span>

</span>

<div class="form-row container clearfix">
  <div class="col-md-4">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="search" [(ngModel)]="buscarContacto" (change)="filtrarContactos()" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>

      <ul class="list">
        <li class="clearfix" *ngFor="let usuario of getValues(mapaContactos) | pipeContactos:buscarContacto">


          <img class="rounded-circle" src="{{usuario.direccion}}" (click)="getMensajes(usuario)"
          alt="avatar" *ngIf="usuario.tieneImagen" />

          <img class="rounded-circle" src="assets/images/light-sky-blue-solid-color-background.jpg"
          alt="avatar" *ngIf="!usuario.tieneImagen " (click)="getMensajes(usuario)"/>


          <div class="about">
            <div class="name" (click)="getMensajes(usuario)">{{usuario.displayName}}</div>
            <div class="status">
              <i class="fa fa-circle {{usuario.status}}"></i>  {{usuario.status}}
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="col-md-8">
    <div class="chat" *ngIf="usuarioDestino.idUsuario">

      <div class="chat-header clearfix">
        <img  class="rounded-circle"
        src="{{usuarioDestino.direccion}}" *ngIf="usuarioDestino.tieneImagen" alt="avatar" />
        <img  class="rounded-circle"src="assets/images/light-sky-blue-solid-color-background.jpg"
         *ngIf="!usuarioDestino.tieneImagen" alt="avatar" />


        <div class="chat-about" >
          <div class="chat-with">Chat con {{usuarioDestino.displayName}}</div>
          <div class="chat-num-messages">{{listaMensajesOrigenDestino.length}} Mensajes</div>
        </div>
        <i class="fa fa-star"></i>
      </div>

      <div class="chat-history">
        <ul>
            <li *ngFor="let message of listaMensajesOrigenDestino">

              <div class="clearfix" *ngIf="compararPosicionEnChat(message.idOrigen)">
                <div class="message-data align-right">
                  <span class="message-data-time" >{{message.fechaMensaje}}</span> &nbsp; &nbsp;
                  <span class="message-data-name" >{{message.nombreOrigen}}</span> <i class="fa fa-circle me"></i>

                </div>
                <div class="message other-message float-right">
                  {{message.contenido}}
                </div>
              </div>

              <div class="clearfix" *ngIf="!compararPosicionEnChat(message.idOrigen)">
                <div class="message-data">
                  <span class="message-data-name"><i class="fa fa-circle online"></i> {{message.nombreOrigen}}</span>
                  <span class="message-data-time">{{message.fechaMensaje}}</span>
                </div>

                <div class="message my-message">
                  {{message.contenido}}
                </div>
              </div>

          </li>

        </ul>

      </div>

      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send"
          [(ngModel)]="nuevoMensaje"
        placeholder ="Digite su mensaje" rows="3"></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button (click)="enviarMensaje()">Enviar </button>

      </div>

    </div>
  </div>

</div>
