<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">EDITAR PERFIL</h1>
        <br>

        <div class="custom-file">
            <input type="file" id = "file1"
            class="custom-file-input" (change)="getEvent($event.target.files)"
            accept="image/png, image/jpeg, image/jpg">

            <label class="custom-file-label">Subir imagen</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        <br><br>

        <div class="nav-item">
          <img [src]="nombreArchivo" class="center rounded-circle" >
          <a class="centered" *ngIf="estado">{{iniciales}}</a>
        </div>
        <br>



        <form (submit)="onSubmitEditarPerfilUser(EditarPerfilForm)">
          <div class="form-group">
            <label for="nombres">Nombre</label>
            <input type="text" name="nombres" id="nombres"
            [(ngModel)]="displayName" class="form-control">
          </div>

          <div class="form-group">
            <div class="form-group">
              <label for="documento">Documento</label>
              <input type="text" name="documento" id="documento"
              [(ngModel)]="documento" class="form-control">
            </div>
            <label for="direccion">Dirección</label>
            <input type="text" name="direccion" id="direccion"
            [(ngModel)]="direccion" class="form-control">
          </div>

          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="number" name="telefono" id="telefono"
            [(ngModel)]="telefono" class="form-control">
          </div>
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="date" max="1970-01-01" min="2000-01-01" name="edad" id="edad"
            [(ngModel)]="edad" class="form-control">
          </div>

          <input type="submit" value="ENVIAR" class="btn btn-primary btn-block btn-lg">
        </form>

        <br><br>
        <button class="btn btn-primary" (click)="cambiarContrasena()">Cambiar Contraseña</button>
        <br><br><br>



      </div>
    </div>
  </div>
</div>
