
<div class="column-filter">

  <div class="container">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Categorias
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <ng-multiselect-dropdown
                [(ngModel)]="selectedItems"
                [placeholder]="'Seleccione las categorias'"
                [data]="categorias"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div id="accordion2">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseTwo">
            Ciudades
          </a>
        </div>
        <div id="collapseTwo" class="collapse show" data-parent="#accordion2">
          <div class="card-body">
            <div class="form-group">
                <div class="col-xs-5 selectContainer">
                  <label for="categoria">Ciudad de cobertura</label>
                   <select class="form-control" name="zona_cobertura" [(ngModel)]="zona_cobertura">
                       <option value="">Seleccione una ciudad</option>
                       <option value="bogota">Bogotá D.C.</option>
                       <option value="medellin">Medellín</option>
                       <option value="cali">Cali</option>
                       <option value="barranquilla">Barranquilla</option>
                       <option value="cartagena">Cartagena</option>
                       <option value="soledad">Soledad</option>
                       <option value="cucuta">Cúcuta</option>
                       <option value="soacha">Soacha</option>
                       <option value="ibague">Ibagué</option>
                       <option value="bucaramanga">Bucaramanga</option>
                       <option value="villavicencio">Villavicencio</option>
                       <option value="santa_marta">Santa Marta</option>
                       <option value="bello">Bello</option>
                       <option value="valledupar">Valledupar</option>
                       <option value="pereira">Pereira</option>
                       <option value="armenia">Armenia</option>
                       <option value="buenaventura">Buenaventura</option>
                       <option value="pasto">Pasto</option>
                       <option value="manizales">Manizales</option>
                       <option value="monteria">Montería</option>
                       <option value="neiva">Neiva</option>
                       <option value="popayan">Popayan</option>
                       <option value="quibdo">Quibdó</option>
                       <option value="riohacha">Riohacha</option>
                  </select>
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="accordion3">
      <div class="card">
        <div class="card-header">
          <a class="card-link"  data-toggle="collapse" href="#collapseThree">
            Precio
          </a>
        </div>
        <div id="collapseThree" class="collapse show" data-parent="#accordion3">
          <div class="card-body">
              <br>
              <div class="row">
                <div class="col">
                  <input type="number" class="form-control" placeholder="Min"
                  [(ngModel)]="precioMinimo" min="1">
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Max"
                  [(ngModel)]="precioMaximo">
                </div>
              </div>
              <br>
            </div>
          </div>
      </div>
    </div>


        <div id="accordion4">
          <div class="card">
            <div class="card-header">
              <a class="card-link"  data-toggle="collapse" href="#collapseFour">
                Método de pago
              </a>
            </div>
            <div id="collapseFour" class="collapse show" data-parent="#accordion4">
              <div class="card-body">
                  <form class="opciones_pago" >

                      <input type="checkbox" name="inlineChekboxOptions"
                       id="efectivo" value="efectivo" [(ngModel)]="efectivo">
                      <label for="efectivo">Efectivo</label>
                      <br>

                      <input type="checkbox" name="inlineChekboxOptions"
                      id="credito" value="credito" [(ngModel)]="credito">
                      <label for="credito">Tarjeta de crédito</label>
                      <br>


                      <input type="checkbox" name="inlineChekboxOptions"
                      id="debito" value="debito" [(ngModel)]="debito">
                      <label for="debito">Tarjeta débito</label>
                  </form>
                </div>
              </div>
          </div>
        </div>

    <div id="accordion5">
      <div class="card">
        <div class="card-header">
          <a class="card-link"  data-toggle="collapse" href="#collapseFive">
            Modalidad
          </a>
        </div>
        <div id="collapseFive" class="collapse show" data-parent="#accordion5">
          <div class="card-body">

            <form class="opciones_modalidad">
              <div class="radio">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                id="presencial" value="presencial" [(ngModel)]="modalidad">
                <label class="form-check-label" for="presencial">Presencial</label>
              </div>
              <div class="radio">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                id="virtual" value="virtual" [(ngModel)]="modalidad">
                <label class="form-check-label" for="virtual">Virtual</label>
              </div>
            </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="column-result">

  <div class="container">

        Panel Content
        <br>
        <b>dato buscar: {{buscar}}</b>
        <br>
        <b>categorias: {{selectedItems.toString()}}</b>
        <br>
        <b>zona_cobertura: {{zona_cobertura}}</b>
        <br>
        <b>precio_minimo: {{precioMinimo}} ** precio_maximo: {{precioMaximo}}</b>
        <br>
        <b>debito: {{debito}} * credito: {{credito}} * efectivo: {{efectivo}}</b>
        <br>
        <b>modalidad: {{modalidad}}</b>



        <ul>
          <li class="list-inline" *ngFor="let servicio of listaServicios">
            <div class="col-xs-12 col-sm-6 col-md-16">
              <article class="card-wrapper">
                <div class="image-holder">
                  <a href="#" class="image-holder__link"></a>
                  <div class="image-liquid image-holder--original" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/24/Blue_Tshirt.jpg')">
                  </div>
                </div>

                <div class="product-description">
                  <!-- title -->
                  <h1 class="product-description__title">
                    <a href="#">
                      {{servicio.nombre}}
                      </a>
                  </h1>

                  <!-- category and price -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                      {{servicio.categoria}}
                    </div>
                    <div class="col-xs-12 col-sm-4 product-description__price">
                      $ {{servicio.precio}}
                    </div>
                  </div>

                  <!-- divider -->
                  <hr />

                  <!-- tipo_pago -->
                  <div class="sizes-wrapper">
                    <b>Zona de cobertura</b>
                    <br />
                    <span class="secondary-text text-uppercase">
                        {{servicio.zona_cobertura}}
                    </span>
                  </div>


                  <!-- tipo_pago -->
                  <div class="sizes-wrapper">
                    <b>Tipo de pago</b>
                    <br />
                    <span class="secondary-text text-uppercase">
                        {{servicio.tipo_pago}}
                    </span>
                  </div>

                </div>

              </article>
            </div>
          </li>


        </ul>

  </div>


</div>
